pockettracker.general.language=en

pockettracker.web.base-url=https://<your-domain.com>
pockettracker.web.image-resource-path=/opt/PocketTracker/resources
pockettracker.security.default-password-folder=/opt/PocketTracker/config
pockettracker.security.enable-o-auth=false

pockettracker.backup.location=/opt/PocketTracker/backup
pockettracker.backup.keep=5
pockettracker.backup.include-images=true
pockettracker.backup.background-enabled=true
pockettracker.backup.background-scheduled=0 0 0 * * *
