.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 225px;
}

@media (max-width: 575px) {
    .bd-placeholder-img {
        height: 100px;
    }
}

.progress {
    background-color: #ced1d4 !important;
}

.table-action {
    text-decoration: none !important;
}

.z-index-above-stretched-link {
    z-index: 2;
}