.progress {
    background-color: #ced1d4 !important;
}

.table-action {
    text-decoration: none !important;
}

.z-index-above-stretched-link {
    z-index: 2;
}

#searchResultTable td {
    vertical-align: middle;
}

.image-selectable {
    max-height: 20rem;
}

.image-selectable:hover {
    cursor: pointer;
}

.button-square {
    width: 2rem;
    height: 2rem;
}

.last-watched {
    font-size: 0.75rem;
}
